<div class="animated fadeIn">

  <ng-template #content let-c="close" let-d="dismiss">
    <form [formGroup]="form"> 
      <div class="modal-lg">
      <div class="modal-header">
         <h4 class="modal-title" id="modal-basic-title">Application</h4>
      </div> 
      <div class="modal-body"> 
            <input type="hidden" class="form-control" formControlName="id" [(ngModel)]=applicationFeature.id >
            <div class="row"> 
              <div class="col-sm-6 form-group">
                  <label>AppEdition</label>
                  <input type="text" class="form-control" formControlName="appEditionId" [(ngModel)]=applicationFeature.appEditionId >
              </div> 

              <div class="col-sm-6 form-group"> 
                <label class="switch switch-label switch-pill switch-outline-primary">
                   Status <br> <br>
                  <input type="checkbox" class="switch-input" formControlName="status" [(ngModel)]=applicationFeature.status  >
                  <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
                </label>
              </div> 
      
              <div class="col-sm-12 form-group"> 
                <label>Description</label> 
                <input type="text" class="form-control" formControlName="description" [(ngModel)]=applicationFeature.description > 
                
              </div>
              <div class="col-sm-12 form-group"> 
                <label>ViewDetail</label> 
                <input type="text" class="form-control" formControlName="viewDetail" [(ngModel)]=applicationFeature.viewDetail > 
              </div> 
      
              
            </div> 
      </div> 
       <div class="modal-footer"> 
        <div class="row"> 
          <div class="col-sm-12 actionDiv"> 
            <button class="btn btn-sm btn-success" type="button" (click) ="saveApplicationFeature(form.value)" ><i class="fa fa-dot-circle-o" ></i> Submit</button>
            
            <button type="button" (click)="d('Cross click')" class="btn btn-secondary">Cancel</button> 
          </div> 
        </div> 
      </div> 
    </div>
    </form> 
  </ng-template> 

  
   <!--/.row-->
 <div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-8"><i class="fa fa-align-justify"></i> Application </div>
          <div class="col-md-4"><div class="align-right"><button  type="button" class="btn btn-primary" (click)="addApplicationRole(content)">Add</button> </div></div>
        </div>
      </div>
      <div class="card-body " style="padding:0px; margin: 0px;">
        <table class="table table-bordered table-striped" style="padding:0px; margin: 0px;">
          <thead>
            <tr>
              <th>App Edition</th>
              <th>Description</th>
              <th>ViewDetail</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let applicationFeature of applicationFeatures">
               <tr>
                <td>{{applicationFeature.appEditionId}}</td>
                <td>{{applicationFeature.description}}</td>
                <td>{{applicationFeature.viewDetail}}</td>
                <td>
                  <span class="badge badge-success">{{applicationFeature.status}}</span>
                </td>
                <td>
                  <span class="fa fa-edit fa-lg mt-4" (click)="updateApplicationFeature(content,applicationFeature)"></span>
                  <span class="fa fa-remove fa-lg mt-4" (click)="deleteApplicationFeature(applicationFeature)"></span>
                </td>
              </tr>
           </ng-container>
          </tbody>
        </table>
        <div class="card-footer">
        <nav >
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="">2</a></li>
            <li class="page-item"><a class="page-link" href="">3</a></li>
            <li class="page-item"><a class="page-link" href="">4</a></li>
            <li class="page-item"><a class="page-link" href="">Next</a></li>
          </ul>
        </nav>
        </div>
      </div>
    </div>
  </div>
  <!--/.col-->
</div>
<!--/.row-->
</div>