<div class="animated fadeIn">

  <ng-template #content let-c="close" let-d="dismiss">
    <form [formGroup]="form"> 
      <div class="modal-lg">
      <div class="modal-header">
         <h4 class="modal-title" id="modal-basic-title">Add City </h4>
      </div> 
      <div class="modal-body"> 
        <div class="row"> 
  
          <div class="col-sm-6 form-group">
              <label>Application Id</label>
              <input type="text" class="form-control" formControlName="appId">
          </div> 
   
          <div class="col-sm-6 form-group"> 
            <label>Application Name</label> 
            <input type="text" class="form-control" formControlName="appName"> 
          </div> 
          <div class="col-sm-12 form-group"> 
            <label>Application URL</label> 
            <input type="text" class="form-control" formControlName="appUrl"> 
          </div> 
  
          <div class="col-sm-6 form-group">
            <label>Application Logo</label>
            <input type="text" class="form-control" formControlName="appLogo">
        </div> 
 
        <div class="col-sm-6 form-group"> 
          <label>Application Status</label> 
          <input type="text" class="form-control" formControlName="status"> 
        </div> 
         </div> 
      </div> 
       <div class="modal-footer"> 
        <div class="row"> 
          <div class="col-sm-12 actionDiv"> 
            <button type="button" class="btn btn-primary" (click) ="saveApplication(form.value)">Save</button> 
            <button type="button" (click)="d('Cross click')" class="btn btn-secondary">Cancel</button> 
          </div> 
        </div> 
      </div> 
    </div>
    </form> 
  </ng-template> 

  
   <!--/.row-->
 <div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-8"><i class="fa fa-align-justify"></i> Application </div>
          <div class="col-md-4"><div class="align-right"><button  type="button" class="btn btn-primary" (click)="addApplication(content)">Add</button> </div></div>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-bordered table-striped" style="padding:0px">
          <thead>
            <tr>
              <th>AppLogo</th>
              <th>AppID</th>
              <th>App name</th>
              <th>app URL</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let application of applications">
               <tr>
               <td class="text-center"><div class="avatar">
                <img alt="admin@bootstrapmaster.com" class="img-avatar" src="assets/img/avatars/1.jpg">
                <span class="avatar-status badge-success"></span>
              </div></td>
                <td>{{application.appId}}</td>
                <td>{{application.appName}}</td>
                <td>{{application.appUrl}}</td>
                <td>
                  <span class="badge badge-success">{{application.status}}</span>
                </td>
                <td>
                  <span class="fa fa-edit fa-lg mt-4"></span>
                  <span class="fa fa-remove fa-lg mt-4"></span>
                </td>
              </tr>
           </ng-container>
          </tbody>
        </table>

        <nav>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <!--/.col-->
</div>
<!--/.row-->
</div>